# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea/
/CardsAndClientsTerminalInteface.iml
*.DS_Store
._*
/CardList.txt
/ClientList.txt
/target